.bottomCardChild {
  height: 80px;
  width: 350px;
  position: relative;
  border-radius: var(--br-31xl);
  display: none;
  max-width: 100%;
}
.socialIconsfb {
  height: 48px;
  width: 48px;
  position: relative;
  min-height: 48px;
  z-index: 1;
}
.followFriddy {
  margin: 0;
  font-weight: 500;
}
.onFacebook {
  margin: 0;
  font-size: var(--font-size-smi);
  line-height: 20px;
  color: var(--color-steelblue);
}
.followFriddyOnContainer {
  position: relative;
  letter-spacing: 0.02px;
  z-index: 1;
}
.brandNamesContainer,
.socialIconsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.brandNamesContainer {
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
}
.socialIconsContainer {
  flex-direction: row;
  gap: var(--gap-3xs);
}
.claim {
  position: relative;
  font-size: var(--font-size-smi);
  letter-spacing: 0.02px;
  font-family: var(--font-poppins);
  color: var(--color-gray-800);
  text-align: left;
  display: inline-block;
  min-width: 39px;
}
.claimButtons {
  cursor: pointer;
  border: 1px solid var(--color-gray-800);
  padding: var(--padding-3xs) var(--padding-5xl) var(--padding-3xs)
    var(--padding-6xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.bottomCard,
.cardsContainer,
.claimButtonContainers {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.claimButtonContainers {
  width: 90px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.bottomCard,
.cardsContainer {
  flex-direction: row;
  max-width: 100%;
}
.bottomCard {
  flex: 1;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-100);
  border: 0 solid var(--color-gray-600);
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-xl);
  gap: var(--gap-xl);
}
.cardsContainer {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 var(--padding-11xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray-800);
  font-family: var(--font-poppins);
}
